<!DOCTYPE html>
<html>
<head>
  <title>RESPONSIVA DE USO DE SISTEMAS DE INFORMACIÓN DEL CAE</title>
  <meta charset="utf-8">
  <style type="text/css">

    @page { margin: 5px 5px; }

    * {
      background-color: #fff;
      color: #000;
    }
    
    body {
      margin-top: -15px;
     /* line-height: 1;*/
      font-size: 12px;
      font-family: "Arial", Arial, sans-serif;
      margin-left: 10px;
      margin-right: 10px;
    }

    .center {
      text-align: center;
    }

   
    .titulo_1{
      font-size: 14px;
      font-weight: bold; 
       margin-top: 8px;    
       margin-left: 100px;   
    }
    .titulo_2{
      font-size: 13px;
      font-weight: bold;
      margin-left: 100px;  
    }

    .titulo_3{
      font-size: 12px;
      font-weight: bold;
      margin-left: 100px;  
    }

    .titulo_4{
      font-size: 11px;
      font-weight: bold;
      margin-left: 100px;  
    }

    table {
      width: 100%;
      border-collapse: collapse;
      /*border: 2px solid black;*/
      margin-bottom: 10px;

    }
   
   .tabla_datos td {
      border: 1px solid black;
    }

    .tabla_datos_generales {
     /* border: 2px solid black;*/
      border-collapse: collapse;
      margin-left: 30px;
      margin-right: 30px;
    }

    .tabla_datos_generales td, th {
    /*  border-bottom: 1px solid black;*/
    text-align: right;
    margin-right: 30px;
    }
    p {
      text-align:justify;
      margin-left: 40px;
      margin-right: 40px;
      font-size:14px;
    /* border: red 2px solid;*/
    }

    .footer {
            
    }

    div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }

  .foto1 { 
      padding: 2px; 
      margin: 25px; 
      margin-top: 30px;
      float:center; 
      width:500px; 
     position: fixed;
  }

 

   
  </style>
</head>
<body>
  <img src="http://localhost:3001/img/Logo_SESVER-1-scaled.jpeg" class = "foto1">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <table class="tabla_datos_generales">

      <tbody>

      <tr>
          <td colspan="1"></td>
          <td colspan="1"></td> 
          <td colspan="1"></td> 
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="4" style="font-size: 11px;"><strong>Clasificación:</strong>8C.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  
        </tr>

       <tr>
          <td colspan="1"></td>
          <td colspan="1"></td> 
          <td colspan="1"></td> 
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="4" style="font-size: 11px;"><strong>Asunto:</strong>Responsiva de Uso de Sistemas de Información del CAE. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  
        </tr>

        <tr>
            <td colspan="1"></td>
            <td colspan="1"></td> 
            <td colspan="1"></td> 
            <td colspan="1"></td>
            <td colspan="1"></td>
            <td colspan="1"></td>
            <td colspan="1"></td>
            <td colspan="1"></td>
            <td colspan="4" style="font-size: 11px;">Xalapa, Veracruz, a <%= fecha %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    
        </tr>
      </tbody>
    </table>

    <table class="tabla_datos_generales">

      <tbody>

      <tr class="center">
        <td colspan="12" style="font-size: 11px; text-align: left;"><strong>M.C. FRANCISCO BARAJAS MARTÍNEZ</strong>
        </td> 
      </tr>

  
     
      <tr class="center">
        <td colspan="12" style="font-size: 11px; text-align: left;"><strong>JEFE DE LA UNIDAD DE TECNOLOGÍAS</strong></td> 
      </tr>

     

      <tr class="center">
        <td colspan="12" style="font-size: 11px; text-align: left;"><strong>DE LA INFORMACIÓN CAE</strong></td> 
      </tr>

      
      
      <tr class="center">
        <td colspan="12" style="font-size: 11px; text-align: left;"><strong>P R E S E N T E</strong></td> 
        
      </tr>

     
      </tbody>
    </table>

    <table class="tabla_datos_generales">

      <tbody>

      <tr>
          <td colspan="1"></td>
          <td colspan="1"></td> 
          <td colspan="1"></td> 
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="4" style="font-size: 11px;">Con atención del L.S.C.A. Carlos Ávila Aguilar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  
        </tr>

       <tr>
          <td colspan="1"></td>
          <td colspan="1"></td> 
          <td colspan="1"></td> 
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="4" style="font-size: 11px;">Jefe del Departamento de Desarrollo e Implementación de Sistemas, T.I.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  
        </tr>

      </tbody>
    </table>

    <p  style="font-size: 10px; text-align: justify;">Mediante el presente solicito a esa Unidad de Tecnologías de la Información me otorgue acceso para uso del Sistemas de Información <%= tipo %> para realizar mi actividad laboral; utilizando para ello el Usuario <strong style="font-size: 12px;">"<%= usuario %>" </strong>, así como la Contraseña asignada como mecanismo de identificación de las acciones y registros que ejecute, la cual me comprometo y responsabilizo a cambiar de manera inmediata. Asimismo, para fines de registro de datos, informo que la Matrícula de personal que me identifica como Trabajador de este Hospital es la número <strong style="font-size: 12px;"><%= matricula %></strong>.</p>
    
    <p style="font-size: 10px; text-align: justify;">Al utilizar los <strong style="font-size: 12px;">sistemas de información del Hospital</strong>, acepto regirme y actuar bajo los PRINCIPIOS RECTORES, DERECHOS Y RESPONSABILIDADES que marcan las Leyes emitidas para tal caso, especificamente la <strong style="font-size: 12px;">Ley Número 581</strong> PARA LA TUTELA DE LOS DATOS PERSONALES EN EL ESTADO DE VERACRUZ DE IGNACIO DE LA LLAVE; la <strong style="font-size: 12px;">Ley Número 316</strong> sobre PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE SUJETOS OBLIGADOS PARA EL ESTADO DE VERACRUZ DE IGNACIO DE LA LLAVE, así como también sujetarme al Código de ética del Hospital, a los Códigos Ético Conductuales de los Trabajadores del Sector Salud de Veracruz, a las Normas Oficiales Mexicanas y a las Condiciones Generales de Trabajo de la Secretaría de Salud que apliquen en la tarea o función que desempeño; además reconozco y comprendo el alcance de:</p>
    
    <p style="font-size: 10px; text-align: justify;"><strong style="font-size: 12px;">Datos personales</strong>: Apegarme al tratamiento correcto de los datos personales conforme lo dispone la Institución, siempre remitiéndome al marco estricto de lo que la Ley indica.</p>
    
    <p style="font-size: 10px; text-align: justify;"><strong style="font-size: 12px;">Protección integral de los Datos</strong>: Como usuario, debo tener presente que soy el único responsable del uso correcto del sistema, que debo respeto y garantizo la protección que exige la interpretación y aplicación de la ley, tomando en cuenta la totalidad de los derechos a que estoy sujeto del cuidado de la transmisión de datos personales que la Ley indica.</p>
    
    <p style="font-size: 10px; text-align: justify;"><strong style="font-size: 12px;">Disponibilidad y uso</strong>:</p>
    
    <ul>  
        <li style="text-align: justify; margin-right:40px; margin-left:30px; font-size: 10px; "> Se me otorga acceso autorizado al o los Sistemas y a la información que en ellos se maneja, pero con las limitaciones, restricciones y compromisos que la Ley indica que debo seguir.</li>
        <li style="text-align: justify; margin-right:40px; margin-left:30px; font-size: 10px; "> El acceso a la cuenta otorgado, es personal e intransferible y es mi responsabilidad así cumplirlo, por lo que comprendo queda estrictamente prohibido compartir la cuenta de acceso con otras personas, incluso con personal de la misma área laboral u otras del hospital. Esto incluye a Personal Médico, Administrativo, Paramédico, Académico, Becario(Interno o Externos) y demás ajenos de la Institución.</li>
        <li style="text-align: justify; margin-right:40px; margin-left:30px; font-size: 10px; "> El uso de la información a la cual accedo mediante los sistemas es exclusivo para fines de cumplimiento sobre las asignaciones laborales que tiene mi puesto y contratación.</li>
        <li style="text-align: justify; margin-right:40px; margin-left:30px; font-size: 10px; "> En caso de error en la Captura de Datos, me comprometo a corregirlo y/o reportarlo inmediatamente, bajo el procedimiento correcto en beneficio del proceso y flujo administrativo y en consecuencia del beneficio del Paciente.</li>
        <li style="text-align: justify; margin-right:40px; margin-left:30px; font-size: 10px; "> En caso de violar alguno de los puntos anteriores, reconozco que seré acreedor a la sanción que determine el Departamento Jurídico del Hospital basado en los Artículos que marcan las Leyes antes señaladas, así como a los procesos administrativos del Hospital y sobre aquellos que nos rige al ser una Unidad Administrativa de los Servicios de Salud de Veracruz.</li>
    </ul>

    <p style="font-size: 11px; text-align: justify;"><strong style="font-size: 10px;">Derechos de Autor</strong>: Sobre los sistemas a los que tengo acceso, me comprometo a respetar y utilizar única y exclusivamente el mismo para asuntos relacionados con mi actividad laboral. En caso de filtración de idea, copia del uso y conocimiento, daño, sabotaje o uso inadecuado del mismo, me responsabilizo a pagar el costo de la reparación o daño moral y legal al comprobarse responsabilidad directa o indirecta sobre la investigación de acciones en las bitácoras internas que cada sistema registra de mi actividad.</p>
   
    
    

    <table class="tabla_datos_generales">

        <tbody>
            <br></br>
            <br></br>
            <br></br>

       
            <tr class="center">
            <td colspan="4" style="text-align: center;"></td> 
            <td colspan="4" style="text-align: center;">A T E N T A M E N T E</td> 
            <td colspan="4" style="text-align: center;"></td> 
            </tr>
       
      
        </tbody>
    </table>
    <br>
    
    

    <table class="tabla_datos_generales">

        <tbody>
       
            <tr class="center">
            <td colspan="4" style="text-align: center;"></td> 
            <td colspan="4" style="text-align: center;"><strong><%= nombre %></strong> , MATRÍCULA: <strong><%= matricula %> </strong>, RFC: <strong> <%= rfc %> </strong></td> 
            <td colspan="4" style="text-align: center;"></td> 
            </tr>            
  
        </tbody>
    </table>

    <table class="tabla_datos_generales">

        <tbody>

            <tr class="center">
              <td colspan="12" style="font-size: 9px; text-align:left;">C.c.p. Dr. Rafael Norberto Hernández Gómez.- Director del Centro de Alta Especialidad CAE.-Para su conocimiento.</td> 
            </tr>

            <tr class="center">
              <td colspan="12" style="font-size: 9px; text-align:left;">Lic. Jaime Velasco Landa.- Jefe del Departamento de Enlace Jurídico CAE.-Para seguimiento.</td> 
            </tr>

            <tr class="center">
              <td colspan="12" style="font-size: 9px; text-align:left;">Ing. Rosa María Flores Sosa.- Jefa del Servicio de Recursos Humanos CAE.-Para anexar a expediente personal.</td> 
            </tr>


        </tbody>
    </table>

    <table class="tabla_datos_generales">

        <tbody>

            <tr class="center">
                <td colspan="12" style="font-size: 6px; text-align:left;">Av. Ruiz Cortines No. 2903 </td> 
                
            </tr>

            <tr class="center">
                <td colspan="12" style="font-size: 6px; text-align:left;">Col. Unidad Magisterial</td> 
                
            </tr>

            <tr class="center">
                <td colspan="12" style="font-size: 6px; text-align:left;">C.P. 91020, Xalapa - Veracruz</td> 
                
            </tr>

            <tr class="center">
                <td colspan="12" style="font-size: 6px; text-align:left;">Tel. (228) 814 45 00, Fax (228) 8404053</td> 
                
            </tr>

            <tr class="center">
                <td colspan="12" style="font-size: 6px; text-align:left;"><strong>www.cemev.gob.mx</strong></td> 
                
            </tr>


        </tbody>
    </table>



     
      
      

  

     




    
  
   
    
   

    



    

   

     

      
</body>
</html>
